<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="baidu-site-verification" content="rIdB0b1VKO" />
		<title>{$seo.title}</title>
		<meta name="baidu-site-verification" content="ItUVmCjzZH" />
		<meta name="keywords" content="{$seo.keywords}" />
		<meta name="description" content="{$seo.description}" />

		<link rel="stylesheet" type="text/css" href="__STATIC__/home/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="__STATIC__/home/css/global.css"/>
		<script src="__STATIC__/home/js/jquery.min.js"></script>
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> -->
	</head>
	<body>
				<!-- 头部导航 -->
	
				{include file="public/header" /}
		
		<!-- 头部导航 end -->
		<div class="mian">
			<div class="head">
				<div class="banner">
					<ul class="background">
						{foreach $banner as $k=>$v}

						<li {if $k==0 }class="active" {/if}>
          <a href="{$v.url}">				    	<img src="{$v.img}" alt="{$v.title}"></a>
						</li>
						{/foreach}
						<!-- <li {if $k==0 }class="active" {/if} style="background: url(__STATIC__/home/images/banner02.jpg);">
						
						</li>
						<li style="background: url(__STATIC__/home/images/banner02.jpg);">
						
						</li>
						<li style="background: url(__STATIC__/home/images/banner03.jpg);">
							
						</li> -->
					</ul>
					<div class="icon">
						<ul class="btn">
{foreach $banner as $k=>$v}
<li {if $k==0 }class="active" {/if}>
</li>
{/foreach}
							<!-- <li class="active"></li>
							<li></li>
							<li></li>-->

						</ul>
						<div class="bottom_icon"></div>
					</div>
				</div>		
			</div>
			<div class="product">
				<p class="title">PRODUCTS & SERVICE</p>
				<p class="sub_title">产品&服务 / 我们专注互联网基础服务</p>
				<ul class="player" id="playerDiv">
					<li class="active">
						<img src="__STATIC__/home/images/pic_2.png">
						<div class="content">
							<p>为你用心雕琢企业与品牌的极致之美，</p>
							<p>让你在同行中傲视群雄。</p>
							<span><a href="/website.html">了解产品详情</a></span>
						</div>
					</li>
					<li>
						<img src="__STATIC__/home/images/pic_3.png">
						<div class="content">
							<p>按天计费，最快7天上词，不到首页不扣费。关键词质量保证，</p>
							<p>白帽<a href="/seogjc.html" style="color:#fff;">SEO</a>符合百度算法，360、搜狗、移动端等排名效果免费赠送</p>
							<span><a href="/seogjc.html">了解产品详情</a></span>
						</div>
					</li>
					<li>
						<img src="__STATIC__/home/images/pic_16.png">
						<div class="content">
							<p>更大化提升整站质量、整站流量、整站权重、</p>
							<p>整站排名、整站转化率的综合<a href="/seoyouhua.html" style="color:#fff;">SEO优化</a>服务</p>
							<span><a href="/seoyouhua.html">了解产品详情</a></span>
						</div>
					</li>
					<li>
						<img src="__STATIC__/home/images/pic_15.png" />
						<div class="content">
							<p>微信小程序 = 9亿自带流量，小程序名称不能重复性！！！</p>
							<p>属于你的行业、品牌、公司名称，是不是已经注册了？</p>
							<span><a href="/seopm.html">了解产品详情</a></span>
						</div>
					</li>
					<li>
						<img src="__STATIC__/home/images/pic_14.png" />
						<div class="content">
							<p>有了好网站却白白浪费，眼看着竞争对手风生水起</p>
							<p>让<a href="/seojz.html" style="color:#fff;">SEO</a>不再成为企业的软肋甚至鸡肋！</p>
							<span><a href="/seojz.html">了解产品详情</a></span>
						</div>
					</li>
				</ul>
				<ul class="list" id="playerUl">
					<li title="网站建设"><a href="/website.html">
						<img src="__STATIC__/home/images/icon_2.png" />
						<p class="text">网站建设</p>
						<p class="en_text">OFFICIAL WEBSITE</p></a>
					</li>
					<li title="关键词优化"><a href="/seogjc.html">
						<img src="__STATIC__/home/images/icon_3.png" />
						<p class="text">关键词优化</p>
						<p class="en_text">KEYWORD</p></a>
					</li>
					<li title="整站优化"><a href="/seoyouhua.html">
						<img src="__STATIC__/home/images/icon_4.png" />
						<p class="text">整站优化</p>
						<p class="en_text">WHOLE STATION OPTIMIZATION</p></a>
					</li>
					<li title="快速排名"><a href="/seopm.html">
						<img src="__STATIC__/home/images/icon_5.png" />
						<p class="text">快速排名</p>
						<p class="en_text">WECHAT APPLET</p></a>
					</li>
					<li title="SEO网站建设"><a href="/seojz.html">
						<img src="__STATIC__/home/images/icon_6.png" />
						<p class="text">SEO网站建设</p>
						<p class="en_text">SITE PROMOTION</p></a>
					</li>
				</ul>
			</div>
			<div class="brand active">
				<div class="ornament">
					<img src="__STATIC__/home/images/ornament.png" />
				</div>
				<p class="title">BRAND & CASE</p>
				<p class="sub_title">品牌<a href="/case.html" style="color:#333;">案例</a> / 不一样的设计，不一样的故事</p>
				<div class="lists">
					<span class="active">全部案例</span>
					{foreach $casefour as $v}
				    	<span>{$v.title}</span>
					{/foreach}
					<!-- <span>创意品牌网站</span>
					<span>购物商城网站</span>
					<span>手机微信网站</span> -->
				</div>
				<div class="tabs">
					<ul class="active">
						{foreach $case as $k=>$v}
						<li>
							<a href="/case/{$v.id}.html">
							<div class="img">
								<img src="{$v.img}"  style="height:280px;"/>
								<div class="box">{$v.stitle}</div>
							</div>	
							<div class="text">
								<span class="left">{$v.title}</span>
								<span class="right">
									<span><img src="__STATIC__/home/images/icon_7.png"></span>
									<span class="">{$modelcase[$v.cateid]}</span>
								</span>
							</div>
						</a> 
						</li>
						{/foreach}
					
					</ul>
					<ul>
						{foreach $case1 as $k=>$v}
							<li>
								<a href="/case/{$v.id}.html">
								<div class="img">
									<img src="{$v.img}"  style="height:280px;"/>
								</div>	
								<div class="text">
									<span class="left">{$v.title}</span>
									<span class="right">
										<span><img src="__STATIC__/home/images/icon_7.png"></span>
										<span class="">{$modelcase[$v.cateid]}</span>
									</span>
								</div>
							</a> 
							</li>
							{/foreach}
					
					</ul>
					<ul>
							{foreach $case2 as $k=>$v}
							<li>
								<a href="/case/{$v.id}.html">
								<div class="img">
									<img src="{$v.img}"  style="height:280px;"/>
								</div>	
								<div class="text">
									<span class="left">{$v.title}</span>
									<span class="right">
										<span><img src="__STATIC__/home/images/icon_7.png"></span>
										<span class="">{$modelcase[$v.cateid]}</span>
									</span>
								</div>
							</a> 
							</li>
							{/foreach}
					
					</ul>
					<ul>
							{foreach $case3 as $k=>$v}
							<li>
								<a href="/case/{$v.id}.html">
								<div class="img">
									<img src="{$v.img}"  style="height:280px;"/>
								</div>	
								<div class="text">
									<span class="left">{$v.title}</span>
									<span class="right">
										<span><img src="__STATIC__/home/images/icon_7.png"></span>
										<span class="">{$modelcase[$v.cateid]}</span>
									</span>
								</div>
							</a> 
							</li>
							{/foreach}
					
					</ul>
					<ul>
							{foreach $case4 as $k=>$v}
							<li>
								<a href="/case/{$v.id}.html">
								<div class="img">
									<img src="{$v.img}"  style="height:280px;"/>
								</div>	
								<div class="text">
									<span class="left">{$v.title}</span>
									<span class="right">
										<span><img src="__STATIC__/home/images/icon_7.png"></span>
										<span class="">{$modelcase[$v.cateid]}</span>
									</span>
								</div>
							</a> 
							</li>
							{/foreach}
					</ul>
				</div>	
				<div class="carousel" style="text-align: center;">
					<!-- <div class="prev">
						<div>
							<span>
								<img src="__STATIC__/home/images/preview.png" />
							</span>
							<span>
								<img src="__STATIC__/home/images/preview.png" />
							</span>
						</div>	
					</div>	 -->
					<div class="more" style="float: none; display: inline-block;">
						<a href="/case.html">
						<div>
							<span>
								<img src="__STATIC__/home/images/more.png" />
							</span>
							<span>
								<img src="__STATIC__/home/images/more.png" />
							</span>
						</div>	
					</a>
					</div>		
					<!-- <div class="next">
						<div>
							<span>
								<img src="__STATIC__/home/images/next.png" />
							</span>
							<span>
								<img src="__STATIC__/home/images/next.png" />
							</span>
						</div>	
					</div>	 -->
				</div>
			</div>
			<div class="solution active">
				<div class="content">
					<div class="left" id="caseDiv">
						<div class="active">
							<p class="text">提供专业的企业<a href="/website.html" style="color:#fff;">网站建设</a><a href="/solutions.html" style="color:#fff;">解决方案</a></p>
							<p class="description">企业网站帮助企业宣传形象、展示风采，产品宣传，打造企业品牌新形象，突出大型企业形象。</p>
							<span>
								<img src="__STATIC__/home/images/right1.png" >
							</span>
						</div>
						<div>
							<p class="text">提供专业的营销型<a href="/website.html" style="color:#fff;">网站建设</a><a href="/solutions.html" style="color:#fff;">解决方案</a></p>
							<p class="description">云天下认为，目前企业只有25%主要借助网络宣传，降低推广成本，快速传播产品信息与客户建造生意桥梁和传统渠道结合。营销型网站可以让您以营销的角度来分析网站。</p>
							<span>
								<img src="__STATIC__/home/images/right1.png" >
							</span>
						</div>
						<div>
							<p class="text">提供专业的行业门户<a href="/website.html" style="color:#fff;">网站建设</a><a href="/solutions.html" style="color:#fff;">解决方案</a></p>
							<p class="description">网站定位于企业营销型；我们现在所面对的挑战问题是：对于从业者而言，盈利与融资无疑是获得更大发展空间的助推器，缺乏其中任何一个，或许还能走下去，如果两者都不成熟，那么，发展遭遇到天花板似乎成为一种必然。</p>
							<span>
								<img src="__STATIC__/home/images/right1.png" >
							</span>
						</div>
						<div>
							<p class="text">提供专业的外贸<a href="/website.html" style="color:#fff;">网站建设</a><a href="/solutions.html" style="color:#fff;">解决方案</a></p>
							<p class="description">整合了各种网络营销理念和网站运营管理方法，不仅注重<a href="/website.html" style="color:#fff;">网站建设</a>的专业性，更加注重网站运营管理的整个过程，是企业<a href="/website.html" style="color:#fff;">网站建设</a>与运营维护一体化的全程网络营销模式。</p>
							<span>
								<img src="__STATIC__/home/images/right1.png" >
							</span>
						</div>
					</div>
					<ul class="caseUl">
						<li title="企业网站建设解决方案">
							<img src="__STATIC__/home/images/icon_9.png" />
							<h2>企业<a href="/website.html" style="color:#fff;">网站建设</a>解决方案</h2>
						</li>
						<li title="营销型网站建设解决方案">
							<img src="__STATIC__/home/images/icon_8.png" />
							<h2>营销型<a href="/website.html" style="color:#fff;">网站建设</a>解决方案</h2>
						</li>
						<li title="行业门户网站建设解决方案">
							<img src="__STATIC__/home/images/icon_11.png" />
							<h2>行业门户<a href="/website.html" style="color:#fff;">网站建设</a>解决方案</h2>
						</li>
						<li title="外贸网站建设解决方案">
							<img src="__STATIC__/home/images/icon_10.png" />
							<h2>外贸<a href="/website.html" style="color:#fff;">网站建设</a>解决方案</h2>
						</li>
					</ul>
				</div>
			</div>
			<div class="cooperation active">
				<p class="title">COOPERATION & CLIENT</p>
				<p class="sub_title">合作客户 / 给我一分信任，还您十分惊喜！</p>
				<div class="content">
					<div class="tabs">
						<ul class="active">
								{foreach $banners as $k=>$bans}
								{if $k<10}
								<li>
									<img  src="{$bans.thumb}" alt="云天下">
								</li>
								{/if}
								{/foreach}
							<!-- <li><img src="__STATIC__/home/images/icli01.png" ></li>
							<li><img src="__STATIC__/home/images/icli01.png" ></li>
							<li><img src="__STATIC__/home/images/icli01.png" ></li>
							<li><img src="__STATIC__/home/images/icli01.png" ></li>
							<li><img src="__STATIC__/home/images/icli01.png" ></li>
							<li><img src="__STATIC__/home/images/icli01.png" ></li>
							<li><img src="__STATIC__/home/images/icli01.png" ></li>
							<li><img src="__STATIC__/home/images/icli01.png" ></li>
							<li><img src="__STATIC__/home/images/icli01.png" ></li>
							<li><img src="__STATIC__/home/images/icli01.png" ></li> -->
						</ul>
						<ul>
								{foreach $banners as $k=>$bans}
								{if $k>9 && $k<19}
								<li>
									
									<img  src="{$bans.thumb}" alt="云天下">
								</li>
								{/if}
								{/foreach}
						</ul>
					
					</div>	
					<div class="icon">
						<span class="btn active"></span>
						<span class="btn"></span>
						<!-- <span class="btn"></span> -->
					</div>
				</div>
			</div>
			<div class="data active">
				<div class="content">
					<ul>
						<li>
							<span class="number" data-number="10">00</span>
							<p class="text">10年品牌<a href="/website.html" style="color:#fff;">网站建设</a>与优化经验</p>
						</li>
						<li>
							<span class="number" data-number="50">0</span>
							<p class="text">50+先进技术人才团队</p>
						</li>
						<li>
							<span class="number" data-number="75" >0</span>
							<p class="text">75%客户来自北上广深</p>
						</li>
						<li>
							<span class="number" data-number="3650">0</span>
							<p class="text">3650个日夜的蜕变与成长</p>
						</li>
						<li>
							<span class="number" data-number="5000" id="numBox">0</span>
							<p class="text">5000+企业客户的选择</p>
						</li>
						<li>
							<span class="number" data-number="10000">0</span>
							<p class="text">10000+全国客户资源突破</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="dynamic active">
				<p class="title">DYNAMIC & NEWS</p>
				<p class="sub_title">精选资讯 / 有问必答丨深入浅出！解答你关于建站优化的所有难题！</p>
				<div class="content">
					<ul class="lists" id="ttab">
						{foreach $mobilenews as $k=>$v}
						  <li {if $k==0}class="active"{/if}>{$v.title}</li>
						{/foreach}
						<!-- <li>网络营销</li> -->
						<!-- <li>公司新闻</li>
						<li>网站优化</li>
						<li>建站知识</li>
						<li>行业资讯</li> -->
					</ul>
					<div class="contt" id="contt">
						{foreach $newnav as $k=>$v}
						<div {if $k==0}style="display: block;" {/if}>
								<div class="hovercol">
									<ul class="col2" _hover-ignore="1">
										{foreach $v.list as $kk=>$vv}
											{if $kk<10}
											<li {if $kk==0}class="active1"{/if}>
												<a class="img" href="/news/{$vv.id}.html">
													<img width="197" height="121" src="{$vv.img}">
												</a>
												<span class="ccc att font12"><i class="iconfont vancens va-comments"></i>{$vv.publishtime}</span>
												<div class="desc">
													<a class="title c44476c line18em" href="/news/{$vv.id}.html"><i class="li_1 num1">1</i> {$vv.title}</a>
													<div class="description c999 line15em font13">　{$vv.desc|getSubstr=0,35}</div>
												</div>
											</li>
											{/if}
										{/foreach}
									
	
										
	
									</ul>
									<ul class="col2" _hover-ignore="1" style="margin-right: 0;">
											{foreach $v.list as $kk=>$vv}
												{if $kk>9}
												<li {if $kk==10}class="active1"{/if}>
													<a class="img" href="/news/{$vv.id}.html">
														<img width="197" height="121" src="{$vv.img}">
													</a>
													<span class="ccc att font12"><i class="iconfont vancens va-comments"></i>{$vv.publishtime}</span>
													<div class="desc">
														<a class="title c44476c line18em" href="/news/{$vv.id}.html"><i class="li_1 num1">1</i> {$vv.title}</a>
														<div class="description c999 line15em font13">　{$vv.desc|getSubstr=0,35}</div>
													</div>
												</li>
												{/if}
											{/foreach}
									</ul>
								</div>
							</div>
						 {/foreach}
						 
					
					</div>		
				</div>
			</div>
			<!--footer-->
			<style type="text/css">
				.ftyl{display: block!important;}
			</style>
					{include file="public/footer" /}
		
			<!--end footer-->
		</div>
		<div class="frame">
			<div class="content">
				<div class="title">
					<div class="logo">
						<img src="__STATIC__/home/images/frame_logo.png" alt="">
					</div>
					<div class="text">
						<p>启动新征程</p>
					</div>
				</div>
				<div class="message">
					<div class="input">
						<input type="text" class="company" placeholder="公司名称" />
						<img src="__STATIC__/home/images/company.png" />
					</div>
					<div class="input">
						<input type="text" class="name" placeholder="联系人" />
						<img src="__STATIC__/home/images/person.png" />
					</div>
					<div class="input">
						<input type="text" class="telphone" placeholder="电话" />
						<img src="__STATIC__/home/images/telphone.png" />
					</div>
					<div class="input">
						<input type="text" class="email" placeholder="邮箱" />
						<img src="__STATIC__/home/images/email.png" />
					</div>
					<div class="input other">
						<input type="text" class="remark" placeholder="请输入您的需求，并尽可能的详细及方便联系您的时间段" />
					</div>
					<div class="input">
						<input type="text" class="verify_code" placeholder="验证码"/>
						<img src="__STATIC__/home/images/verify_code.png" />
						<img src="__STATIC__/home/images/verify.png" class="verify" />
					</div>
					<div class="input">
						<span>提交</span>
					</div>
				</div>
			</div>
		</div>
	</body>
	
	<script src="__STATIC__/home/js/index.js"></script>
	
</html>
<script>
	$(function(){
		$("#ttab li").mouseover(function(){
			$(this).addClass("active").siblings().removeClass("active");
			var index=$(this).index();
			$("#contt > div").eq(index).show().siblings().hide();
		});
	});

	$(function(){
		$("#playerUl li").mouseover(function(){
			$(this).addClass("active").siblings().removeClass("active");
			var index=$(this).index();
			// $("#playerDiv li").eq(index).show().siblings().hide();
			$("#playerDiv li").eq(index).addClass("active").siblings().removeClass("active");
		});
	});

	$(function(){
		$("#caseUl li").mouseover(function(){
			// alert(1);
			$(this).addClass("active").siblings().removeClass("active");
			var index=$(this).index();
			$('#caseDiv>div').eq(index).addClass("active").siblings().removeClass("active");
			// $("#caseDiv>div").eq(index).show().siblings().hide();
		});
	});
</script>
<script type="text/javascript">
$('.hovercol ul.col2 li').mouseover(function(event) {
    /* Act on the event */
    $(this).parent().find('.active1').removeClass('active1');
    $(this).addClass('active1');
});
$('ul.col2').each(function(index, el) {
    $(this).children('li').eq(0).addClass('active1');
});
</script>
