<!DOCTYPE html>
<html lang="zh">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{$seo.title}</title>
  
    <meta name="keywords" content="{$seo.keywords}" />
    <meta name="description" content="{$seo.description}" />
	<link href="__STATIC__/home/css/global.css" rel="stylesheet" type="text/css">
	<link href="__STATIC__/home/seo/css/allseo.css" rel="stylesheet" type="text/css">
	<script src="__STATIC__/home/seo/js/jquery.min.js"></script>
</head>
<body>
	<!-- 头部 -->
	{include file="public/header" /}
	<!-- 头部 end -->
	<!-- banner -->
		<div class="allseoBanner" style="background: url(__STATIC__/home/seo/images/seoyh21.png) no-repeat;"></div>
	<!-- banner end -->
		<div class="seoyh01_01">
			<div class="warp">
				<div class="allseoTit">快速排名<span>优化介绍</span></div>
				<p>云天下10年专注搜索优化技术，研发出一套快速、稳定、安全的搜索引擎关键词排名技术，全面提升网站排名，以最快、最稳定最持久的优化效果，帮助企业霸占百度顶级搜索流量。我们沉淀多年百度算法研究经验，拥有一整套超越国内优化同行的SEO技术。不惧百度算法更迭，您的排名始终比同行遥遥领先。</p>
			</div>
		</div>
		<div class="seoyh01_02">
			<div class="warp">
				<div class="allseoTit">我们的<span>优势</span></div>
				<ul>
					<li>
						<img src="__STATIC__/home/seo/images/seoyh23.png" alt="">
						<p>排名效果持久</p>
						<span>最快7天上词  排名效果快准狠</span>
					</li>
					<li>
						<img src="__STATIC__/home/seo/images/seoyh24.png" alt="">
						<p>正规白帽手段</p>
						<span>正规优化技术  更符合百度算法</span>
					</li>
					<li>
						<img src="__STATIC__/home/seo/images/seoyh25.png" alt="">
						<p>节省企业成本</p>
						<span>排名效果长期稳定  节约推广费用</span>
					</li>
					<li>
						<img src="__STATIC__/home/seo/images/seoyh26.png" alt="">
						<p>按效果付费</p>
						<span>不上首页不扣费  推广收益最大化</span>
					</li>
					<li>
						<img src="__STATIC__/home/seo/images/seoyh27.png" alt="">
						<p>指定任意关键词</p>
						<span>客户自选关键词  带来大量精准流量</span>
					</li>
					<li>
						<img src="__STATIC__/home/seo/images/seoyh28.png" alt="">
						<p>全网搜索霸屏</p>
						<span>360、搜狗、移动端排名效果免费赠送</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="seoyh01_03">
			<div class="warp">
				<div class="allseoTit">常见<span>问题</span></div>
				<ul>
					<li>
						<div class="img"><img src="__STATIC__/home/seo/images/seoyh29.png" alt=""></div>
						<div class="box1">
							<p>百度优化排名多久可以见效？</p>
							<span>普通词7-15天，热词15-30天，客户可自主提交关键词下单</span>
						</div>
						<div class="box2">
							<p>百度快排对优化网站有限制吗？</p>
							<span>有限制，网站关键词现有排名需在百度前100名才能做</span>
						</div>
					</li>
					<li>
						<div class="img"><img src="__STATIC__/home/seo/images/seoyh30.png" alt=""></div>
						<div class="box1">
							<p>效果是否可以随时监控？</p>
							<span>独家数据监控系统，一键操作，随时查询网站排名及扣费情况。</span>
						</div>
						<div class="box2">
							<p>SEO快排无效可以退款吗?</p>
							<span>可以，见效才扣费，优化30天后还没有一个关键词上首页，全额退预付款</span>
						</div>
					</li>
					<li>
						<div class="img"><img src="__STATIC__/home/seo/images/seoyh31.png" alt=""></div>
						<div class="box1">
							<p>SEO快排技术安全吗？</p>
							<span>正规白帽SEO，无作弊手段，无网站惩罚，优化效果安全有保障</span>
						</div>
						<div class="box2">
							<p>新网站可以做排名优化吗？</p>
							<span>新网站一般没有收录，可以先做关键词优化，有一定排名后再做快速排名</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="seoyh01_04">
			<div class="warp">
				<div class="allseoTit">快速排名管理<span>平台介绍</span></div>
				<div class="main">
					<ul class="left" id="seoyh01_04Tab">
						<li class="active">后台管理</li>
						<li>用户管理</li>
						<li>添加关键词</li>
						<li>订单管理</li>
						<li>消费管理</li>
					</ul>
					<div class="right" id="seoyh01_04Div">
						<div style="display: block;">
							
							<img src="{$pingtai[0]['img']}" alt="{$pingtai[0]['title']}">
							<!-- <img src="__STATIC__/home/seo/images/seoyh32.png" alt=""> -->
						</div>
						<div>
								<img src="{$pingtai[1]['img']}" alt="{$pingtai[1]['title']}">
						</div>
						<div>
								<img src="{$pingtai[2]['img']}" alt="{$pingtai[2]['title']}">
						</div>
						<div>
								<img src="{$pingtai[3]['img']}" alt="{$pingtai[3]['title']}">
						</div>
						<div>
								<img src="{$pingtai[4]['img']}" alt="{$pingtai[4]['title']}">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="seoyh01_05">
			<div class="warp">
				<div class="allseoTit">SEO优化<span>案例</span></div>
			</div>
			<div class="seoyh01_05Div">
				<div class="warp">
					<div class="seoyh01_05Bg">
						<ul class="tab">
							<li>客户网站</li>
							<li>优化关键词</li>
							<li>初始排名</li>
							<li>排名位置</li>
							<li>搜素引擎</li>
						</ul>
						<div style="width: 100%; float: left; height: 480px; overflow: hidden;" id="box1">
							<div class="box">
								{foreach $youhuadata as $v}
								<dl>
									<dd>{$v.url}</dd>
									<dd>{$v.cate}</dd>
									<dd>{$v.num}</dd>
									<dd>{$v.position}</dd>
									<dd>{$v.address}</dd>
								</dl>
								{/foreach}
							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="seoyh01_06">
			<div class="warp">
				<div class="allseoTit">整站优化<span>合作流程</span></div>
				<img src="__STATIC__/home/seo/images/seoyh35.png" alt="">
			</div>
		</div>
		<div class="allseo06">
			<div class="warp">
				<div class="allseoTit">云天下十年互联网核心团队</div>
				<div class="allseoP">已成功帮助5000家企业完美解决建站优化难题。</div>
			</div>
		</div>
		<div class="allseo07">
			<div class="warp">
				<div class="allseoTit">新闻资讯</div>
				<ul>
						{foreach $data as $v}
						<li><a href="/news/{$v.id}.html" title="{$v.title}">
							<h2>{$v.title|getSubstr=0,16}</h2>
							<P>{$v.desc|getSubstr=0,60}</P>
							<dl>
								<dt> {$v.publishtime|getSubstrTime=7,3,2}</dt>
								<dd>{$v.publishtime|getSubstrTime=0,7,1}</dd>
							</dl></a>
						</li>
						{/foreach}
				</ul>
			</div>
		</div>
	<!-- 底部 -->
	{include file="public/footer" /}
	<!-- 底部 end -->
</body>
</html>

<script>
	$(function(){
		$('#seoyh01_04Tab li').mouseover(function(){
			$(this).addClass("active").siblings().removeClass("active");
			var index=$(this).index();
            $("#seoyh01_04Div > div").eq(index).show().siblings().hide();
		})
	})
	
	function AutoScroll(obj){
        $(obj).find("div:first").animate({
            marginTop:"-48px"
        },500,function(){
            $(this).css({marginTop:"0px"}).find("dl:first").appendTo(this);
        });
    }
	$(document).ready(function(){
        var timer = setInterval('AutoScroll("#box1")',500);
		$('#box1').on('mouseenter',function() {
			clearInterval(timer);
		})
		$('#box1').on('mouseleave',function(e) {
			e.stopPropagation();
			timer = setInterval('AutoScroll("#box1")',500);
		})
    });
</script>
