<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{$seo.title}</title>
    <meta name="baidu-site-verification" content="C6R2exmaNx" />
    <meta name="keywords" content="{$seo.keywords}" />
    <meta name="description" content="{$seo.description}" />
	<!--<link href="__STATIC__/home/css/jquery.fullpage.css" rel="stylesheet">
	<link href="__STATIC__/home/css/zhuanti.css" rel="stylesheet" type="text/css">-->
	<link href="__STATIC__/home/css/website.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/home/css/global.css"/>
	<script src="__STATIC__/home/js/hotcss.js"></script>
	<!--[if lt IE 9]><script src="__STATIC__/home/js/html5.js" ></script><![endif]-->
</head>
<body class="neiye">
	<div class="service-page" id="dowebok">
		<div class="service-wrap service-wrap1 section" data-anchor="section1" data-titles="企业官网建设">
			<!-- 头部导航 -->
		
				{include file="public/header" /}
		
			<!-- 头部导航 end -->
		<div class="main">
			<ul class="list">
				<li class="li_1 text_left">
					<div class="content">
						<div class="left">
							<p class="title">企业网站建设</p>
							<p class="sub_title">打造企业品牌形象 宣传产品与服务</p>
							<p class="description">相当于企业的“门面”，是用户最快速、最全面了解企业的平台。网站涵盖行业类型多，信息量大，访问群体广，云天下提供的网站建设会根据客户不同行业、类型，辅以一套特色的网站视觉识别系统，用最合适的展示方式、展示效果、站点框架，把客户及其用户最关心的问题突出表现</p>
							<span class="case">
								<span><a href="/case.html?pid=72">查看案例</a></span>
							</span>
						</div>
						<div class="right">
							<img src="__STATIC__/home/images/website_pic01.png" />
						</div>
					</div>	
				</li>
				<li class="li_2 text_right">
					<div class="content">
						<div class="left">
							<img src="__STATIC__/home/images/website_pic02.png" />
						</div>
						<div class="right">
							<p class="title">品牌网站设计</p>
							<p class="sub_title">颠覆视觉创新 塑造优秀品牌</p>
							<p class="description">好设计会说话，用更具吸引力的内容呈现。我们一直致力于美感创新与营销的融合，运用响应式设计、H5等最新技术进行设计开发，用多种表现形式，在访客面前展现你的实力，塑造您的企业形象，让您的网站更有品牌感。</p>
							<span class="case">
								<span><a href="/case.html?pid=77">查看案例</a></span>
							</span>
						</div>
					</div>	
				</li>
				<li class="li_3 text_right">
					<div class="content">
						<div class="left">
							<img src="__STATIC__/home/images/website_pic03.png" />
						</div>
						<div class="right">
							<p class="title">微信开发</p>
							<p class="sub_title">整合资源，扩大影响范围</p>
							<p class="description">随着移动终端的普及，手机上网越来受到关注，手机网站具有让消费者随时、随地、随身访问的优势和方便快捷的特点，类似大型网站也已建立了手机网站。云天下以企业微信公众账号、小程序等为载体，提供一站式设计、开发、营销整体解决方案。</p>
							<span class="case">
								<span><a href="/case.html?pid=73">查看案例</a></span>
							</span>
						</div>
					</div>	
				</li>
				<li class="li_4 text_left">
					<div class="content">
						<div class="left">
							<p class="title">网上商城</p>
							<p class="sub_title">善解人意好软件  企业生意大管家。</p>
							<p class="description">以产品设计和用户体验为中心的理念，帮助企业网上商城开发突出产品，满足用户真实需求，以简单的操作，简便的流程，让用户快速的进行下单支付。商城后台产品分类规划，操作员可快速地在后台进行添、查、改、删等一体化操作，大大节约了操作员的时间，提高了工作效率，降低后台人员成本，增加企业盈利点。</p>
							<span class="case">
								<span><a href="/case.html?pid=74">查看案例</a></span>
							</span>
						</div>
						<div class="right">
							<img src="__STATIC__/home/images/website_pic04.png" />
						</div>
					</div>	
				</li>
				<li class="li_5 text_left">
					<div class="content">
						<div class="left">
							<p class="title">网站营销</p>
							<p class="sub_title">专注于以社交网络和移动互联网为代表的国内数字<a href="/promotion.html" style="color:#fff;">营销领域</a></p>
							<p class="description">网站建设的技巧和<a href="/promotion.html" style="color:#fff;">营销手法</a>，应用对网站构架、页面布局的有微调整，突出产品的展示服务，为企业拓宽商业渠道，获取更多商业订单。时时调整营销手段，为达到精准的营销效果。</p>
							<span class="case">
								<span><a href="/case.html?pid=72">查看案例</a></span>
							</span>
						</div>
						<div class="right">
							<img src="__STATIC__/home/images/website_pic05.png" />
						</div>
					</div>	
				</li>
				<li class="li_6 text_left">
					<div class="content">
						<div class="left">
							<p class="title">门户网站平台</p>
							<p class="sub_title">打造商务交互平台  树立行业权威形象</p>
							<p class="description">
								门户类网站由于自身特性导致信息量大，增值服务拓展空间高，多被政府，行业，地方，协会/学会等应用。架构+运营+盈利（服务）是门户类网站核心。云天下从源头帮您梳理扎实架构，十年实战经验助力您的门户网站可持续化发展。
</p>
							<span class="case">
								<span><a href="/case.html?pid=76">查看案例</a></span>
							</span>
						</div>
						<div class="right">
							<img src="__STATIC__/home/images/website_pic06.png" />
						</div>
					</div>	
				</li>
				<li class="li_7 text_right">
					<div class="content">
						<div class="left">
							<img src="__STATIC__/home/images/website_pic07.png" />
						</div>
						<div class="right">
							<p class="title">响应式网页设计</p>
							<p class="sub_title">完美支持多终端 各种设备尽情浏览</p>
							<p class="description">实现PC网、微信网、手机网多网合一的HTML5跨平台自适应网站架构，支持电脑、平板、手机同一域名相同内容完美展现，用户体验超前，完美展示公司实力</p>
							<span class="case">
								<span><a href="/case.html">查看案例</a></span>
							</span>
						</div>
					</div>	
				</li>
			</ul>
		</div>	
		<div class="section" id="section-footer" data-anchor="footer" data-titles="">
				<!--footer-->
				
					{include file="public/footer" /}
			
				<!--end footer-->
			</div>
		</div>

	

	<!--<script src="__STATIC__/home/js/jquery.fullpage.js"></script>-->
	<script src="__STATIC__/home/js/website.js"></script>
	<script>
		$(function() {
			$('#dowebok').fullpage({
				'navigation': true
			});

			$(window).resize(function() {
				autoScrolling();
			});
			function autoScrolling() {
				var $ww = $(window).width();
				$.fn.fullpage.setAutoScrolling(true);
			}
			autoScrolling();
		});
	</script>
</body>
</html>
