<!DOCTYPE html>
<html lang="zh">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{$seo.title}</title>
  
    <meta name="keywords" content="{$seo.keywords}" />
    <meta name="description" content="{$seo.description}" />
	<link href="__STATIC__/home/css/global.css" rel="stylesheet" type="text/css">
	<link href="__STATIC__/home/seo/css/allseo.css" rel="stylesheet" type="text/css">
	<script src="__STATIC__/home/seo/js/jquery.min.js"></script>
</head>
<body>
	<!-- 头部 -->
	{include file="public/header" /}
	<!-- 头部 end -->
	<!-- banner -->
		<div class="allseoBanner" style="background: url(__STATIC__/home/seo/images/seoyh01.png) no-repeat;"></div>
	<!-- banner end -->
		<div class="seoyh01">
			<div class="warp">
				<div class="allseoTit" style="margin-top: 70px;">SEO优化+网站建设的<span>优势</span></div>
				<img class="left" src="{$detail.img}" alt="{$detail.title}">
				<div class="right">
					{$detail.ms|raw}
					<!-- <ul>
						<li>
							<dl>
								<dt>SEO优化 : </dt>
								<dd>先天良好的SEO基因，更受搜索引擎偏爱，让访问更友好。</dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt>高端设计 : </dt>
								<dd>高质量网站形象打造，提升访客好感度，抢占心智赢得顾客。</dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt>结构清晰 : </dt>
								<dd>网站结构符合百度蜘蛛抓取喜好，更有利于关键词排名上升。</dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt>独立后台 : </dt>
								<dd>自主开发独立后台，可自行设置首页、二级页面的TKD信息。</dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt>SEO品牌优化 : </dt>
								<dd>多维度解读，挖掘独特卖点和表现力，打造品牌差异化优势。</dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt>技术支持 : </dt>
								<dd>云天下专业网站建设技术团队，五对一服务提供技术支持等。</dd>
							</dl>
						</li>
					</ul> -->
				</div>
			</div>
		</div>
		<div class="seoyh02">
			<div class="warp">
				<div class="allseoTit">网站制作<span>套餐</span> <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2019111136&amp;site=qq&amp;menu=yes" target="_blank"><img class="more" src="__STATIC__/home/seo/images/seoyh03.png" alt=""></a></div>
			</div>
			<div class="ul">
				<div class="warp">
					<ul>
						<li>
							<img src="__STATIC__/home/seo/images/seoyh05.png" alt="">
							<p><b>标准套餐：</b>建站+SEO优化指导</p>
							<span>建站、空间、域名、首页优化、网站SEO建议、SEO指导流程</span>
						</li>
						<li>
							<img src="__STATIC__/home/seo/images/seoyh06.png" alt="">
							<p><b>热门套餐：</b>建站+SEO优化套餐</p>
							<span>建站、空间、域名、整站优化<dd style="color: #6699ff;display: inline;">自选优化3+推荐6个关键词</dd>、60%进入百度首页；赠送公司品牌词排名</span>
						</li>
						<li>
							<img src="__STATIC__/home/seo/images/seoyh07.png" alt="">
							<p><b>精品套餐：</b>建站+SEO优化套餐</p>
							<span>建站、空间、域名、整站优化<dd style="color: #6699ff;display: inline;">自选优化6+推荐10个关键词60%</dd>进入百度首页；赠送公司品牌词排名</span>
						</li>
						<li>
							<img src="__STATIC__/home/seo/images/seoyh08.png" alt="">
							<p><b>高端套餐：</b>建站+SEO优化套餐</p>
							<span>建站、空间、域名、整站优化<dd style="color: #6699ff;display: inline;">自选优化20+推荐40个关键词60%</dd>进入百度首页；赠送公司品牌词排名</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="seoyh03">
			<div class="warp">
				<div class="allseoTit">解决<span>方案</span></div>
				<ul>
					<li>
						<img src="__STATIC__/home/seo/images/seoyh09.png" alt="">
						<dl>
							<dt>中小企业官网建设</dt>
							<dd>使用云天下建站发布企业官网，收录更容易，关键词排名优化更靠前，操作更简单，运维更省心，价格更实惠！</dd>
						</dl>
					</li>
					<li>
						<img src="__STATIC__/home/seo/images/seoyh10.png" alt="">
						<dl>
							<dt>产品/项目宣传网站</dt>
							<dd>从上线调测到网站发布、收录、关键词排名优化，全站式服务，敏捷高效，只需要一个会编辑内容的普通编辑员，成本低廉！</dd>
						</dl>
					</li>
					<li>
						<img src="__STATIC__/home/seo/images/seoyh11.png" alt="">
						<dl>
							<dt>高端品牌网站建设</dt>
							<dd>让品牌网站更符合搜索引擎排名规则，让网站拥有合理的结构、规范的标签、合理TDK定义等，快速提高排名及网站权重！</dd>
						</dl>
					</li>
					<li>
						<img src="__STATIC__/home/seo/images/seoyh12.png" alt="">
						<dl>
							<dt>小型网店/商城/电商平台引流站</dt>
							<dd>大部分电商等平台的架构设计不利于SEO优化，云天下建站可以通过自定义的扩展，建设利于关键词排名的引流站！</dd>
						</dl>
					</li>
				</ul>
			</div>
		</div>
		<div class="seoyh04">
			<div class="warp">
				<div class="allseoTit" style="margin-top: 70px;">网站定制<span>流程</span></div>
				<ul id="seoyh04">
					<li class="active">
						<img src="__STATIC__/home/seo/images/seoyh13.png" alt="">
						<p>需求收集</p>
					</li>
					<li>
						<img src="__STATIC__/home/seo/images/seoyh14.png" alt="">
						<p>签订合约</p>
					</li>
					<li>
						<img src="__STATIC__/home/seo/images/seoyh15.png" alt="">
						<p>首页设计</p>
					</li>
					<li>
						<img src="__STATIC__/home/seo/images/seoyh16.png" alt="">
						<p>内页设计</p>
					</li>
					<li>
						<img src="__STATIC__/home/seo/images/seoyh17.png" alt="">
						<p>前端开发</p>
					</li>
					<li>
						<img src="__STATIC__/home/seo/images/seoyh18.png" alt="">
						<p>程序开发</p>
					</li>
					<li>
						<img src="__STATIC__/home/seo/images/seoyh19.png" alt="">
						<p>网站上线</p>
					</li>
					<li>
						<img src="__STATIC__/home/seo/images/seoyh20.png" alt="">
						<p>SEO优化</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="allseo06">
			<div class="warp">
				<div class="allseoTit">云天下十年互联网核心团队</div>
				<div class="allseoP">已成功帮助5000家企业完美解决建站优化难题。</div>
			</div>
		</div>
		<div class="allseo07">
			<div class="warp">
				<div class="allseoTit">新闻资讯</div>
				<ul>
						{foreach $data as $v}
						<li><a href="/news/{$v.id}.html" title="{$v.title}">
							<h2>{$v.title|getSubstr=0,16}</h2>
							<P>{$v.desc|getSubstr=0,60}</P>
							<dl>
								<dt> {$v.publishtime|getSubstrTime=7,3,2}</dt>
								<dd>{$v.publishtime|getSubstrTime=0,7,1}</dd>
							</dl></a>
						</li>
						{/foreach}
					
				</ul>
			</div>
		</div>
	<!-- 底部 -->
	{include file="public/footer" /}
	<!-- 底部 end -->
</body>
</html>

<script>
	$(function(){
		$('#seoyh04 li').mouseover(function(){
			$(this).addClass("active").siblings().removeClass("active");
		})
	})
</script>
