<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>{$seo.title}</title>
    <meta name="baidu-site-verification" content="C6R2exmaNx" />
    <meta name="keywords" content="{$seo.keywords}" />
    <meta name="description" content="{$seo.description}" />
    <!--[if lt IE 9]>
        <script src="__STATIC__/home/js/html5shiv.min.js"></script>
        <script src="__STATIC__/home/js/respond.min.js.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="__STATIC__/home/css/page.css">
    <link rel="stylesheet" href="__STATIC__/home/css/page_zsy.css">
    <script src="__STATIC__/home/js/jquery.min.js"></script>
</head>
<body>
<style>
    .header .nav .active6{
        border-bottom: 2px solid #0090e4;
        color: #0090e4;
    }
    .header .nav li.active6>a{color: #0090e4;}
</style>
<!-- 导航 -->
{include file="public/header" /}
<!-- 导航 end  -->
<!-- banner -->
    <div class="technology_banner"></div> 
<!-- banner end-->
    <div class="technology_one">
        <div class="tech_tit">在企业宣传网站上的服务范围</div>
        <div class="tech_p">SERVICE SCOPE</div>
        <div class="warp">
            <li style="background: #f27b53;">
                <img src="__STATIC__/home/images/tech01.png" alt="">
                <h3>网站规划</h3>
                <p style="width: 100%">定位建议分析，网站栏目架构设计、网站规划布局结构，整套解决方案</p>
            </li>
            <li style="background: #0caed4;">
                <img src="__STATIC__/home/images/tech02.png" alt="">
                <h3>网页设计</h3>
                <p style="width: 100%">美术创意设计、专业形象界面设计、CSS+DIV前台结构布局设计、SEO优化。</p>
            </li>
            <li style="background: #75b749;">
                <img src="__STATIC__/home/images/tech03.png" alt="">
                <h3 style="width: 100%">域名、邮箱规划配置</h3>
            </li>
            <li style="background: #de567a;">
                <img src="__STATIC__/home/images/tech04.png" alt="">
                <h3 style="width: 100%; margin-top: 10px;">公司集团内部刊物电子杂志系统</h3>
            </li>
            <li style="width: 635px; background: #9d4a9c; padding: 55px 30px;">
                <img src="__STATIC__/home/images/tech05.png" alt="">
                <h3 style="width: 80%; margin-top: 0px;">网站系统功能开发</h3>
                <p style="width: 80%; margin-top: 0">系统性架构策略、程序模块功能分析设计、安全策略。</p>
            </li>
            <li style="width: 545px; background: #ffb400; padding: 55px 30px;">
                <img src="__STATIC__/home/images/tech06.png" alt="">
                <h3 style="width: 80%; margin-top: 0px;">网站运营维护方案</h3>
                <p style="width: 80%; margin-top: 0">根据品牌宣传网站管理模式，建议网站日常信息提供、审核、发布的一整套运转方案，网站培训及知识转移计划等。</p>
            </li>
            <li style="width: 389px; background: #de567a; padding: 55px 30px;">
                <img src="__STATIC__/home/images/tech07.png" alt="">
                <h3 style="width: 70%; margin-top: -20px;">可延展性分析、可扩充性考虑以及系统稳定性分析报告</h3>
            </li>
            <li style="width: 389px; background: #e75708; padding: 55px 30px;">
                <img src="__STATIC__/home/images/tech08.png" alt="">
                <h3 style="width: 70%; margin-top: -20px;">品牌宣传网站IDC数据中心规划和建设方案</h3>
            </li>
            <li style="width: 389px; background: #9d4a9c; padding: 55px 30px;">
                <img src="__STATIC__/home/images/tech09.png" alt="">
                <h3 style="width: 70%; margin-top: 0px;">网站营销推广计划</h3>
                <p style="width: 70%; margin-top: 0px;">网站运维策略及网站价值分析、盈利情况分析等等...</p>
            </li>
        </div>
    </div>
    <div class="technology_two">
        <div class="t_tit">业务展示</div>
        <div class="t_p">专业团队，品质服务</div>
        <ul>
            <li>
                <img src="__STATIC__/home/images/tech010.png" alt="">
                <h3>网站建设</h3>
                <span>Website building</span>
                <p>·  品牌展示网站</p>
                <p>·  官方门户网站</p>
                <p>·  企业营销网站</p>
                <p>·  电子商务平台</p>
                <p>·  信息门户系统</p>
                <p>·  集团站群系统</p>
            </li>
            <li>
                <img src="__STATIC__/home/images/tech11.png" alt="">
                <h3>移动端</h3>
                <span>Mobile end</span>
                <p>·  手机网站</p>
                <p>·  APP开发</p>
                <p>·  自适应网站</p>
                <p>·  响应式网站</p>
            </li>
            <li>
                <img src="__STATIC__/home/images/tech12.png" alt="">
                <h3>小程序</h3>
                <span>Applets</span>
                <p>·  O20场景化</p>
                <p>·  社群社交</p>
                <p>·  生活服务</p>
                <p>·  工具应用</p>
            </li>
            <li>
                <img src="__STATIC__/home/images/tech13.png" alt="">
                <h3>服务号/订阅号</h3>
                <span>Wechat marketing</span>
                <p>·  微官网</p>
                <p>·  微商城</p>
                <p>·  微活动</p>
                <p>·  微预定</p>
                <p>·  微支付</p>
            </li>
            <li>
                <img src="__STATIC__/home/images/tech14.png" alt="">
                <h3>企业微信</h3>
                <span>Business number</span>
                <p>·  团队协作</p>
                <p>·  CRM</p>
                <p>·  企业文化</p>
                <p>·  移动办公</p>
                <p>·  行政办公</p>
            </li>
        </ul>
    </div>
    <div class="technology_three">
        <div class="t_tit">新闻资讯</div>
        <div class="t_p">让中国企业化信息普遍成功</div>
        <div class="tt_ul">
            <ul>
                {foreach $list as $key=>$vo}
                <li><a href="/news/{$vo.id}.html">
                    <div class="img"><img src="{$vo.img}" alt=""></div>
                    <p>{$vo.title}</p>
                    <div class="span" id="span">{$vo.desc|getSubstr=0,58}</div>
                    <span>{$vo.publishtime}</span></a>
                </li>
                {/foreach}
            </ul>
        </div>
    </div>
<!-- 底部footer -->
{include file="public/footer" /}
<!-- 底部footer -->
</body>
</body>
</html>
<script>
    $(function(){
        $(".wb_tab li").click(function(){
            $(this).addClass("active").siblings().removeClass("active");
            var index=$(this).index();
            $(".wb_box > div").eq(index).show().siblings().hide();
        });
    });
</script>

