{__NOLAYOUT__}
<table id="example1" class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th>访问IP</th>
        <th>访问页面</th>
        <th>访问次数</th>
        <th>访问时间</th>
        <th>地理位置</th>
        <th>浏览器</th>
        <th>操作系统</th>
        <!--<th>语言</th>-->
        <th>来源</th>
    </tr>
    </thead>
    <tbody>
    {foreach $list as $value}
    <tr>
        <td>{$value.ip}</td>
        <td><a href="{$value.url}" target="_blank">{$value.url}</a></td>
        <td>{$value.click}</td>
        <td><?php echo friendlyDate(strtotime($value['addtime']));?></td>
        <td>{$value.address}</td>
        <td>{$value.browser}</td>
        <td>{$value.os}</td>
        <!--<td>{$value.lang}</td>-->
        <td>{$value.from}</td>
    </tr>
    {/foreach}
    </tbody>
</table>
<div class="row">
<div class="col-sm-5">
  <div class="dataTables_info"  role="status" aria-live="polite">
    <!--Showing 1 to 10 of 57 entries-->
  </div>
</div>
<div class="col-sm-7">
  <div class="dataTables_paginate paging_simple_numbers" >
      {$list->render()|raw}
  </div>
</div>
</div>






