<style>
  #example1 tr:hover{
    background-color: #1EA2E3;color: white;
  }
    td{padding: 6px !important;}
  #example1 thead tr:hover:first-child{background:none;color:#333}
</style>
<script type="text/javascript" src="__STATIC__/layer/layer.js"></script>
<script type="text/javascript" src="__STATIC__/public/common.js"></script>
<script type="text/javascript" src="__STATIC__/public/jquery.pjax.min.js"></script>
<script type="text/javascript" src="__STATIC__/public/nprogress.js"></script>
<link rel="stylesheet" href="__STATIC__/public/nprogress.css">
<script src="__STATIC__/admin/adminlte/bower_components/select2/js/select2.min.js"></script>
<script src="__STATIC__/admin/adminlte/bower_components/select2/js/i18n/zh-CN.js"></script>
<link rel="stylesheet" href="__STATIC__/admin/adminlte/bower_components/select2/css/select2.min.css">
<!-- date-range-picker -->
<script src="__STATIC__/admin/adminlte/bower_components/moment/min/moment.min.js"></script>
<script src="__STATIC__/admin/adminlte/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap datepicker -->
<script src="__STATIC__/admin/adminlte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="__STATIC__/admin/adminlte/bower_components/moment/locale/zh-cn.js"></script>
<!-- daterange picker -->
<link rel="stylesheet" href="__STATIC__/admin/adminlte/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<!-- bootstrap datepicker -->
<link rel="stylesheet" href="__STATIC__/admin/adminlte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
<section class="content" style="padding: 15px 0;margin-top:15px" >
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <!--<div class="box-header">-->
          <!--<h3 class="box-title">日志列表</h3>-->
        <!--</div>-->
        <!-- /.box-header -->
        <div class="box-body" >
          <div class="col-sm-6" style="width: 100%">
              <div class="col-md-3 col-sm-4" style="line-height: 40px;margin-top: 15px;">
                  <span style="width: 30%;display: block;">每页条数：</span>
                  <select datavalue="limit" class="form-control input-sm pjaxchangge" id="limitchangge" style="width: 50%;display: block;float: left;">
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="30">30</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </div>
              <div class="col-md-3 col-sm-4" style="line-height: 40px;margin-top: 15px;">
                <div class="form-group">
                  <span style="width: 30%;display: block;">日志类型：</span><select  datavalue="type" class="form-control input-sm pjaxchangge" id="logtype" style="width: 50%;display: block;">
                    <option selected="selected" value="-1">所有日志类型</option>
                  {foreach $logtype as $logkey=>$log}
                    <option value="{$logkey}">{$log}</option>
                  {/foreach}
                </select>
                </div>
              </div>
              <div class="col-md-3 col-sm-4" style="line-height: 40px;margin-top: 15px;">
                <div class="form-group">
                    <span style="width: 30%;display: block;">选择权限：</span><select style="width: 50%;"  datavalue="uid"  class="form-control input-sm pjaxchangge  select2" id="uidvalueid" >
                    <option selected="selected" value="0">所有用户</option>
                {foreach $alluser as $user}
                  <option value="{$user.id}">{$user.nickname}</option>
                {/foreach}
                </select>
                </div>
              </div>
              <div class="col-md-3 col-sm-4" style="width: 25%;line-height: 40px;margin-top: 15px;">
                  <div class="form-group" >
                         <div class="input-group">选择时间：
                          <button type="button" class="btn btn-default pull-right" id="daterange-btn">
                              <span>
                          <i class="fa fa-calendar"></i> 所有时间
                        </span>
                              <i class="fa fa-caret-down"></i>
                          </button>
                      </div>
                  </div>
                  <input type="hidden" id="starttime"  value="all">
                  <input type="hidden" id="endtime"  value="all">
              </div>
          </div>
          <div id="Contentspjax" >
          <table id="example1" class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
              <th>日志描述</th>
              <th>日志类型</th>
              <th>操作的用户</th>
              <th>操作时间</th>
              <th>操作IP</th>
            </tr>
            </thead>
            <tbody>
         {foreach $list as $li}
            <tr>
              <td>{$li.remark}</td>
              <td>{$logtype[$li['type']]}</td>
              <td>{$li.username}</td>
              <td>{$li.addtime}</td>
              <td>{$li.ip}</td>
            </tr>
         {/foreach}
            </tbody>
          </table>
          <div class="row">
            <div class="col-sm-5">
              <div class="dataTables_info"  role="status" aria-live="polite">
                <!--Showing 1 to 10 of 57 entries-->
              </div>
            </div>
            <div class="col-sm-7">
              <div class="dataTables_paginate paging_simple_numbers" >
                {$list->render()|raw}
              </div>
            </div>
          </div>
        </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
</section>
<script>
    $(function(){
        moment.locale('zh-cn');
        //Date range as a button
        $('#daterange-btn').daterangepicker(
            {
//                timePicker: true,
//                timePicker24Hour: true,
                applyClass : 'btn-sm btn-success',
                cancelClass : 'btn-sm btn-default',
                locale: {
                    applyLabel: '确认',
                    cancelLabel: '取消',
                    fromLabel : '起始时间',
                    toLabel : '结束时间',
                    customRangeLabel : '自定义',
                    firstDay : 1
                },
                ranges   : {
                    '所有时间'       : [moment().subtract(9, 'days'), moment().subtract(9, 'days')],
                    '查询今天'       : [moment(), moment()],
                    '查询昨天'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    '查询过去七天' : [moment().subtract(6, 'days'), moment()],
                    '查询过去30天': [moment().subtract(29, 'days'), moment()],
                    '查询本月'  : [moment().startOf('month'), moment().endOf('month')],
                    '查询上个月'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                startDate: moment().subtract(29, 'days'),
                endDate  : moment()
            },
            function (start, end, label) {
               if(label == '所有时间') {
                   $('#daterange-btn span').html('<i class="fa fa-calendar"></i> 所有时间');
                   $('#starttime').val('all');
                   $('#endtime').val('all');
               } else {
//                   $('#daterange-btn span').html('<i class="fa fa-calendar"></i> '+start.format('YYYY-MM-DD HH:mm') + ' - ' + end.format('YYYY-MM-DD HH:mm'))
                   $('#daterange-btn span').html('<i class="fa fa-calendar"></i> '+start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'))
                   $('#starttime').val(start.format('YYYY-MM-DD'));
                   $('#endtime').val(end.format('YYYY-MM-DD'));
               }
               //pjax
                var pstr = '';
                $(".pjaxchangge").each(function(){
                    var ids = $(this).attr('id');
                    var gettype = $(this).attr('datavalue');
                    pstr = pstr==''?gettype+"="+$('#'+ids).val():pstr+"&"+gettype+"="+$('#'+ids).val();
                })
                pstr = pstr+"&starttime="+$('#starttime').val()+"&endtime="+$('#endtime').val();
                $.pjax({
                    url: "{:Url::build('admin/Log/logList')}?"+pstr,
                    container: '#Contentspjax'
                });
            }

        )
        $('.select2').select2({
            language:'zh-CN'
        });
        $(".pjaxchangge").change(function(){
            var selectstr = '';
            $(".pjaxchangge").each(function(){
                var ids = $(this).attr('id');
                var gettype = $(this).attr('datavalue');
                selectstr = selectstr==''?gettype+"="+$('#'+ids).val():selectstr+"&"+gettype+"="+$('#'+ids).val();
            })
            selectstr = selectstr+"&starttime="+$('#starttime').val()+"&endtime="+$('#endtime').val();

            $.pjax({
                url: "{:Url::build('admin/Log/logList')}?"+selectstr,
                container: '#Contentspjax'
            });
        });
        $(document).pjax('.pagination li a', '#Contentspjax', { timeout:3000,replace:true,scrollTo:false});
        $(document).on('pjax:start', function() { NProgress.start(); });
        $(document).on('pjax:end',   function() { NProgress.done();  });
    })
</script>