<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>{$seo.title}</title>
	<meta name="baidu-site-verification" content="C6R2exmaNx" />
	<meta name="keywords" content="{$seo.keywords}" />
	<meta name="description" content="{$seo.description}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="__STATIC__/mobile/css/index.css">
    <link rel="stylesheet" href="__STATIC__/mobile/css/swiper.min.css">
</head>
<body>
	{include file="public/header" /}
	<!-- banner -->
		<div class="aboutBanner">
			<img src="__STATIC__/mobile/images/about01.png" alt="">
		</div>
	<!-- banner end -->
	<!-- 内容 -->
		<div class="aboutOne">
				<!-- {$about.ms|raw} -->
			<p>深圳市云天下信息技术有限公司</p>
			<h2>专注于提供网络推广和网络<br>营销解决方案</h2>
			<span>深圳网站建设】深圳市云天下信息技术有限公司是一站式网站建设服务平台，致力于互联网品牌建设与网络营销，融合了网站建设、网络推广、网站推广、移动H5设计、小程序、APP开发、企业邮箱等专业</span>
			<span>云天下10年来只专注于做一件事——潜心研发全网营销解决方案，我们只做有用处、有效果、有盈利的网站！公司凝聚着一批经验丰富、专业的互联网精英和技术团队，通过不断创新和专业的服务，云天下得到</span>
			<span>我们始终坚持以客户需求为导向，为追求用户体验设计，提供有针对性的项</span>
		</div>
		<div class="aboutTwo">
			<div class="box">
				<h2>我们能做什么</h2>
				<p>一站式网站建设服务平台，致力于互联网品牌建设与网络营销，融合了网站建设、网站推广、移动H5设计、小程序、APP开发、企业邮箱等专业SAAS</p>
			</div>
		</div>
		<div class="aboutThree">
			<dl>
				<img src="__STATIC__/mobile/images/ico07.png" alt="">
				<dt>网站建设</dt>
				<dd>网站打开速度快，用户体验好风格多样化</dd>
			</dl>
			<dl>
				<img src="__STATIC__/mobile/images/ico08.png" alt="">
				<dt>SEO优化排名</dt>
				<dd>按天计费，不到首页不扣费，最快7天上词</dd>
			</dl>
			<dl>
				<img src="__STATIC__/mobile/images/ico09.png" alt="">
				<dt>正规白帽优化</dt>
				<dd>拒绝黑帽，不作弊，白帽SEO+转化，无 惧百度算法更迭，关键词长期稳定首页。</dd>
			</dl>
			<dl>
				<img src="__STATIC__/mobile/images/ico10.png" alt="">
				<dt>整站优化</dt>
				<dd>基于整站质量、整站流量、整站权重、整 站排名、整站转化率的综合SEO优化。</dd>
			</dl>
		</div>
		<div class="aboutFour">
			<h2>企业资质</h2>
			<p>多项软件开发著作权  企业品牌商标认证证书  软件开发所有唯一权</p>
			<ul>
					{foreach $bannerqiye as $v}
				<li><img src="{$v.img}" alt=""></li>
				{/foreach}
				
			</ul>
		</div>
	<!-- 内容 end -->
	<!-- 资讯 end -->
	{include file="public/footer" /}
</body>
</html>
<script src="__STATIC__/mobile/js/demo.js"></script>
<script src="__STATIC__/mobile/js/jquery.min.js"></script>
<script src="__STATIC__/mobile/js/swiper.min.js"></script>


