<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>{$seo.title}</title>
	<meta name="baidu-site-verification" content="C6R2exmaNx" />
	<meta name="keywords" content="{$seo.keywords}" />
	<meta name="description" content="{$seo.description}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="__STATIC__/mobile/css/index.css">
    <link rel="stylesheet" href="__STATIC__/mobile/css/swiper.min.css">
</head>
<body>
	{include file="public/header" /}
	<!-- banner -->
		<div class="aboutBanner">
			<img src="__STATIC__/mobile/images/about01.png" alt="">
		</div>
	<!-- banner end -->
	<!-- 内容 -->
		<div class="aboutHuikuan">
			<h2>汇款方式</h2>
			<ul>
					{foreach $remittance as $v}
				<li>
					<img src="{$v.img}" alt="">
					<p><b>开户银行：</b>{$v.title}</p>
					<p><b>账户姓名：</b>{$v.stitle}</p>
					<p><b>账　　号：</b>{$v.desc}</p>
				</li>
				{/foreach}
				
				<li class="li">
					<img src="__STATIC__/mobile/images/about08.png" alt="">
					<div class="box">
						<p><b>姓名：</b>深圳市云天下信息技术有限公司</p>
						<p><b>账号：</b>支付宝二维码</p>
					</div>
				</li>
				<li class="li" style="float: right;">
					<img src="__STATIC__/mobile/images/about09.png" alt="">
					<div class="box">
						<p><b>姓名：</b>深圳市云天下信息技术有限公司</p>
						<p><b>账号：</b>微信宝二维码</p>
					</div>
				</li>
			</ul>
		</div>
	<!-- 内容 end -->
	<!-- 资讯 end -->
	{include file="public/footer" /}
</body>
</html>
<script src="__STATIC__/mobile/js/demo.js"></script>
<script src="__STATIC__/mobile/js/jquery.min.js"></script>
<script src="__STATIC__/mobile/js/swiper.min.js"></script>


