<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{$seo.title}</title>
	<meta name="baidu-site-verification" content="C6R2exmaNx" />
	<meta name="keywords" content="{$seo.keywords}" />
	<meta name="description" content="{$seo.description}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="__STATIC__/mobile/css/index.css">
		<link rel="stylesheet" href="__STATIC__/mobile/css/swiper.min.css">
	</head>
	<body>
		{include file="public/header" /}
		<!-- 内容 -->
		<div class="website">
			<a href="/case.html?pid=72"><img src="__STATIC__/mobile/images/website_02.png" alt=""></a>
			<a href="/case.html?pid=77"><img src="__STATIC__/mobile/images/website_03.png" alt=""></a>
			<a href="/case.html?pid=73"><img src="__STATIC__/mobile/images/website_04.png" alt=""></a>
			<a href="/case.html?pid=74"><img src="__STATIC__/mobile/images/website_05.png" alt=""></a>
			<a href="/case.html?pid=72"><img src="__STATIC__/mobile/images/website_06.png" alt=""></a>
			<a href="/case.html?pid=76"><img src="__STATIC__/mobile/images/website_07.png" alt=""></a>
			<a href="/case.html"><img src="__STATIC__/mobile/images/website_08.png" alt=""></a>
		</div>
		<!-- 内容 end -->
		<!-- 资讯 end -->
	{include file="public/footer" /}
	</body>
</html>
<script src="__STATIC__/mobile/js/demo.js"></script>
<script src="__STATIC__/mobile/js/swiper.min.js"></script>

